*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.title{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: white;
}
.title2{
    text-align: "justify";
    color: white;
    padding: 0 100px;
}
.btn{
	width: 50%;
	padding: 0.5rem 1rem;
	background-color: #081266;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	
}

.btn:hover{
    background-color: #1c5597;
    color: white;
}

.form-devolverse{
    padding: 0 100px;
    color: white;
}

.table{
    background-color: lightgray;
    padding: 0 100px;
    margin-left: 2rem;
    box-sizing: border-box;
    width: 90%;
    margin-top: auto;
    

}

