<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creando Registros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
    crossorigin="anonymous">
    <script>
        $(function() 
        {
          $("formulario").validate({
               rules: {
                      nombre: "required",
                      apellido: "required",
                      correo_electronico: "required",
                      telefono: "required",
                      fecha_nacimiento: "required",
                      direccion: "required",
                      region: "required",
                      genero: "required", 
                      inicio_sesion: "required",
                      },   
                      
                 messages: 
                    {
                    nombre: {
                        required: 'Ingresa tu nombre*',
                        },
                    apellido: {
                        required: 'Ingresa apellido*', 
                    },
                    correo_electronico:{
                        required: 'Ingrese correo, ejemplo: usuario@gmail.com*',
                        
                    },
                    telefono:{
                        required: 'Ingresa tu N°Telefono',
                    },
                    fecha_nacimiento: {
                        required: 'Ingresa tu fecha de nacimiento',
                        },
                    direccion: {
                      required: 'Ingresa tu dirección',
                    },
                    region: {
                      required: 'Ingresa tu región',
                    },
                    genero: {
                      required: 'Ingrese su género',
                    },
                    inicio_sesion: {
                      required: 'Ingresa id de correo',
                    },
                   
              }//messages
          }); //$('#formulario').validate
      }); //function
    </script>

</head>
<body>
    <body background="{% static 'img/fondo08.jpg'%}" style="background-repeat: no-repeat; background-attachment: fixed; background-size: cover;"  ></body>
    <br>
    <div class="container">
        <div class="row">
            
        </div>

        <div class="row">
            <form method="POST" action="#" id="formulario">
                <h1>Creación Registro de Usuarios</h1>
                {%csrf_token%}
                <div class="form-group">
                    {{registro_form.nombre.label}}
                    {{registro_form.nombre}}
                </div>
                
                <div class="form-group">
                    {{registro_form.apellido.label}}
                    {{registro_form.apellido}}
                </div>
                
                <div class="form-group">
                    {{registro_form.correo_electronico.label}}
                    {{registro_form.correo_electronico}}
                </div>
                
                <div class="form-group">
                    {{registro_form.telefono.label}}
                    {{registro_form.telefono}}
                </div>
                
                <div class="form-group">
                    {{registro_form.fecha_nacimiento.label}}
                    {{registro_form.fecha_nacimiento}}
                </div>
                
                <div class="form-group">
                    {{registro_form.direccion.label}}
                    {{registro_form.direccion}}
                </div>
                
                <div class="form-group">
                    {{registro_form.region.label}}
                    {{registro_form.region}}
                </div>
                
                <div class="form-group">
                    {{registro_form.genero.label}}
                    {{registro_form.genero}}
                </div>
                
                <div class="form-group">
                   {{registro_form.inicio_sesion.label}}
                   {{registro_form.inicio_sesion}}
                </div>
                
                <div class="form-group">
                    <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
                    <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">
                </div>

            </form>
        </div>



    </div>

    <div class="form-api"><br>
        <center><b><p> Volver a Templates (Mostrar) <a class="link" href="{% url 'ver'%}"> Click Aquí </a></p></b></center>
    </div>
</body>
</html>