<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'Css/APIsferiado.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Css/EstilosIndex.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
    crossorigin="anonymous">
    
    <title>Templates</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script>
        $(document).ready(function(){
            $('#icon').click(function(){
                $('ul').toggleClass('show');
            });
        });
        


    </script>

</head>
<body>
    <body background="{% static 'img/fondo08.jpg'%}" style="background-repeat: no-repeat; background-attachment: fixed; background-size: cover;"  ></body>
    <div class="navbar fixed-top">
        <nav>
            <label class="logo">Image/\Board</label>
            <ul>
                <li><a class="active" href="{% url 'MenuPrincipal02'%}">Menú Principal</a></li>
                <li><a href="{% url 'form_registro'%}">Crear</a></li>
                <li><a href="{% url 'form_mod_registro'%}">Modificar</a></li>
                <li><a href="{% url 'ver'%}">Mostrar</a></li>
                <li><a href="{% url 'form_del_registro'%}">Eliminar</a></li>

            </ul>
            <label id="icon">
                <i class="fas fa-bars"></i>
            </label>
        </nav>
    </div>
    <br>
    <br>
    <div class="row">
        <br>
        <center><h1>Mostrando Usuarios</h1></center>
        <br>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Correo</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Fecha Nacimiento</th>
                <th scope="col">Dirección</th>
                <th scope="col">Región</th>
                <th scope="col">Género</th>
                <th scope="col">Inicio sesión</th>
                    
            </tr>
        </thead>
        <tbody>
            {%for re in registro%}
                <tr>
                    <td>{{re.nombre}}</td>
                    <td>{{re.apellido}}</td>
                    <td>{{re.correo_electronico}}</td>
                    <td>{{re.telefono}}</td>
                    <td>{{re.fecha_nacimiento}}</td>
                    <td>{{re.direccion}}</td>
                    <td>{{re.region}}</td>
                    <td>{{re.genero}}</td>
                    <td>{{re.inicio_sesion}}</td>
                        
                </tr>
            {%endfor%}

        </tbody>

    </table>
    <a href="{% url 'form_registro' %}" class="btn btn-primary">Nuevo Usuario</a>
    <a href="{% url 'form_mod_registro' %}" class="btn btn-primary">Modificar</a>
    <a href="{% url 'form_del_registro' %}" class="btn btn-danger">Eliminar </a>
    <br>
 </body>
</html>
