<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'Css/EstilosIndex.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% static ''%}
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
       

</head>
<body>
       <div class="row">
            <h1>Mostrando vehiculos</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Fecha Nacimiento</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">region</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Inicio sesion</th>
                    
                </tr>
            </thead>
            <tbody>
                {%for ve in vehiculos%}
                    <tr>
                        <td>{{ve.nombre}}</td>
                        <td>{{ve.apellido}}</td>
                        <td>{{ve.correo_electronico}}</td>
                        <td>{{ve.telefono}}</td>
                        <td>{{ve.fecha_nacimiento}}</td>
                        <td>{{ve.direccion}}</td>
                        <td>{{ve.region}}</td>
                        <td>{{ve.genero}}</td>
                        <td>{{ve.inicio_sesion}}</td>
                        <td><a href="{% url 'form_mod_registro' ve.patente%}">Modificar   </a></td>
                    </tr>
                {%endfor%}

            </tbody>

        </table>

 </body>
</html>
